<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head> 
<header>
    <h1>Chaintech Assignment</h1>


    <nav>
        <ul>
            <li><a href="{{ url_for('hello_world') }}">Home</a></li>
            <li><a href="{{url_for('register_page')}}">Register</a></li>
            <li><a href="{{url_for('login_page')}}">Login</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Login Success</h1>
    <p>Welcome, {{ session['username'] }}!</p>
    <a href="{{ url_for('logout') }}">Logout</a>


</body>
</html>