<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<main>
    <header>
        <h1>Chaintech Assignment</h1>

    
        <nav>
            <ul>
                <li><a href="{{ url_for('hello_world') }}">Home</a></li>
                <li><a href="{{url_for('register_page')}}">Register</a></li>
                <li><a href="{{url_for('login_page')}}">Login</a></li>
            </ul>
        </nav>
    </header>
    <h1>  Registered Successfully!</h1>
    <a href="{{url_for('login_page')}}">Login Here</a>
 </h1>




</main>


<footer >
    <p>&copy; 2023 Chaintech. All rights reserved.</p>
</footer>
</body>

</html>